
<div id="menu">
  <div class="scrollable">
    <ul>
      <li>Rian.Me</li>
    </ul>
    <div class="separator">Quick Links</div>
    <ul>
      <li><a href="#about-me">About Me</a></li>
      <li><a href="#contact-me">Contact Me</a></li>
    </ul>
    <div class="separator">Social Media</div>
    <ul>
      <li><a href="http://www.twitter.com/rianrainey" target="_blank">Twitter</a></li>
      <li><a href="http://www.github.com/rianrainey" target="_blank">GitHub</a></li>
      <li><a href="http://www.instagram.com/rianrainey" target="_blank">Instagram</a></li>
      <li><a href="http://www.linkedin.com/in/rianrainey" target="_blank">LinkedIn</a></li>
      <li><a href="http://www.foursquare.com/rianrainey" target="_blank">FourSquare</a></li>
    </ul>
    <div class="separator">&nbsp;</div>
    <ul>
      <li id="copy">
      <p>Rian Rainey &copy; <%= Time.now.year %></p>
      </li>
    </ul>
  </div>
</div>




