
<div class="content">
  <div id="about-me">
    <a name="about-me"></a>
    <h2>About Me</h2>
    <p>
      I am a software developer at <%= link_to "Centresource", "http://www.centresource.com", "target" => "_blank" %>,
      husband, and constant builder. Nashville, TN is my current home but I have Ohio roots. I make sure to find time to volunteer at my church, <%= link_to "HopePark", "http://www.hopepark.com", "target" => "_blank" %>.
      When I find free time, you'll find me doing Crossfit, Basketball or trying to launch a business idea.
    </p>
  </div>
  <div id="contact-me">
    <a name="contact-me"></a>
    <h2>Contact Me</h2>
    <p>You can drop me a line at hello [at] rian [dot] me.</p>
  </div>
</div>


