body {
  color: $white;

  a {
    color: $orange;
    text-decoration: none;
  }
  h1, h2 {
    font-weight: normal;
  }

  //******** Header ********** 
  .nav-mobile {

    @include media($tablet) {
      display: none;
    }
  }

  .nav-primary {
    display: none;
    @include media($tablet) {
      display: block;
    }
  }
  header .title {
    font-size: 1.5em;
    text-align: center;
  }

  #menu {
    @include media($tablet) {
      display: none;
    }
  }

  #slider {
    margin-top: 1em;
    .flexslider {
      margin-bottom: 3em;
    }
  }

  //****** Content *******
  #page-wrapper {
    background-color: $dark-blue;
    @include outer-container;
    .content {
      margin: 0 3%;
      text-align: center;
    }
  }
}
