body {
  background: $blue;
  color: $white;

  a {
    color: $orange;
  }
  h1, h2 {
    font-weight: normal;
  }
  
  header #title {
    font-size: 1.5em;
    text-align: center;
  }

  #slider {
    margin-top: 1em;
    .flexslider {
      margin-bottom: 3em;
    }
  }

  #page-wrapper {
    background-color: $dark-blue;
    @include outer-container;
    .content {
      margin: 0 3%;
      text-align: center;
    }
  }
}
