* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    overflow: hidden;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


#viewport {
    background-color: #32394A;
}

#close-mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
}
body.menu-open #close-mask {
    display: block;
}

#page-wrapper {
    position: relative;
    z-index: 2;
    min-width: 320px;
    background-color: $blue;
    -webkit-transition-property: -webkit-transform;
    -webkit-transform: translate3d(0, 0, 0);
}

body.menu-opening #page-wrapper,
body.menu-closing #page-wrapper {
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in;
}
body.menu-moving #page-wrapper {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}

    #page-wrapper > header {
        height: 43px;
        line-height: 43px;
        background: $orange;
        border-color: #111A33;
        -webkit-transition: left 200ms ease-in;
        -moz-transition: left 200ms ease-in;
        color: #FFF;
    }
    #page-wrapper > header h1 {
      text-align: center;
      margin: 0;
    }
    #page-wrapper > header .trigger {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 14px;
        display: block;
        width: 24px;
        height: 21px;
        font-size: 1.75em;
    }

    #page-wrapper .story {
        position: relative;
        padding: 7px;
        border-top: 1px solid #E9E9E9;
        background-color: #fff;
    }
    #page-wrapper .story > img {
        position: absolute;
    }
    #page-wrapper .story .contents {
        margin-left: 50px;
    }
    
#menu {
    position: fixed;
    width: 260px;
    top: 0;
    left: 0;
    
}
body.menu-open #menu {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
    #menu {
      a {
        color: #FFF;
        text-decoration: none;
      }
      ul {
        margin: 0;
        padding-left: 0;
      }
    }

    #menu > header {
        padding: 0 8px;
        width: 260px;
        height: 43px;
        background-image: -webkit-gradient( linear, left top, left bottom, from(#434B5B), to(#242B39));
        background-image: -moz-linear-gradient(top, #434B5B 0%, #242B39 100%);
        border-bottom: 1px solid #000;
        border-top: 1px solid #5F6673;  
        color: #fff;
    }

    #menu .separator {
        background: #434B5C;
        background: -webkit-gradient( linear, left top, left bottom, from(#434B5C), to(#394152) );
        background: -moz-linear-gradient(top, #434B5C 0%, #394152 100%);
        border-bottom: 1px solid #242A37;
        border-top: none;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
        color: #7A8292;
        padding: 4px 0 4px 8px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
    }
    #menu li {
        position: relative;
        display: block;
        list-style: none;
        min-height: 43px;
        line-height: 40px;
        padding: 3px 0 3px 8px;     
        background-color: #32394A;
        border-bottom: 1px solid #242A37;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
        font-size: 16px;
        color: #C4CCDA;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    }
    #menu .active {
        background-color: #262C3A;
    }
    #menu li img {
        vertical-align: middle;
        display: block;
        float: left;
        margin: 4px 5px 0 0;
    }
    #menu li .count {
        position: absolute;
        right: 10px;
        top: 15px;
        background: #3E485E;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #3E485E), color-stop(1, #323A4D));
        background: -moz-linear-gradient( left top, left bottom, color-stop(0, #3E485E), color-stop(1, #323A4D));
        border-top: 1px solid #505A63;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
        color: #BFC5D2;
        padding: 1px 3px 3px 4px;
        display: inline-block;
        line-height: 12px;
        min-width: 11px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    }
    #menu li#copy {
        padding: 10px 8px;
        font-size: 14px;
        line-height: 18px;
    }
    #menu li#copy p {
        font-weight: 100;
    }
